.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--color-gray-light);
  padding: 16px 0;
  transition: all 0.3s ease;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: auto;
  height: 64px;
  /* Constrains the logo height, maintaining aspect ratio */
  max-width: 250px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 64px;
}

.navLink {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-dark);
}

.navLink:hover {
  color: var(--color-primary);
}

/* Base Responsive */
@media (max-width: 992px) {
  .nav {
    display: none;
    /* We'll hide it on mobile for now, to focus on desktop. We can add a hamburger menu later if needed */
  }
}